{% extends "base.html" %}

{% block title %}
<title>
    Enterprise data delivery
</title>
{% endblock %}

{% block body %}
<p class="timerwords">Remaining seconds for password reset:<span class="timer">{{token_time_left}}</span></p>
<div class="changepform">
<p>Please proceed to change password</p>
    <form  action="{{url_for('rp.changepassword', token = token)}}" method="POST">
         {{form.hidden_tag()}}
                                     
        <p class="cp_fieldrow">
            {{form.new_password.label}}
            {{form.new_password()}}
            {% for error in form.new_password.errors%}
                <span class="email-error">
                {{error}}
                </span>
            {%endfor%}
        </p>

        <p class="cp_fieldrow">
            {{form.confirm_password.label}}
            {{form.confirm_password()}}
            {% for error in form.confirm_password.errors%}
                <span class="email-error">
                {{error}}
                </span>
            {%endfor%}
        </p>
       <p class="summit-b">
            {{form.submit()}}
        </p>
    </form>

</div>

{% endblock %}