{% extends "base.html" %}

{% block title %}
<title>
    Enterprise data delivery
</title>
{% endblock %}

{% block body %}
<p class="fpf">Please enter your registered email address to receive a reset password instruction!</p>
<div class="forgotpform">
    <form  action="{{url_for('rp.forgotpassword')}}" method="POST">
         {{form.hidden_tag()}}
                                     
        <p class="fp_fieldrow">
            {{form.email.label}}
            {{form.email()}}
            {% for error in form.email.errors%}
                <span class="email-error">
                {{error}}
                </span>
            {%endfor%}
            <span class="pr-summit">
                {{form.submit()}}
            </span>
        </p>
       
            
    </form>

</div>

{% endblock %}