{% extends "base.html" %}

{% block title %}
<title>
    Enterprise data delivery
</title>
{% endblock %}

{% block body %}
<p class="timerwords">Remaining seconds for password reset:
    <span class="timer">{{token_time_left}}</span></p>
<div class="resetpform">
    <p class="rpf">A reset password session have been initiated. please enter date of birth to proceed <br>
        
    <form name = "resetpform" action="{{url_for('rp.resetpassword', token = token)}}" method="POST">
         {{form.hidden_tag()}}
         <p><span class="mask_age">(hint:{{Mask_d}})</span></p>                          
        <p class="rp_fieldrow">
            {{form.dateofbirth.label}}
            {{form.dateofbirth()}}
            {% for error in form.dateofbirth.errors%}
                <span class="email-error">
                {{error}}
                </span>
            {%endfor%}
            <span class="pr-summit">
            {{form.submit()}}
            </span>
        
        </p>
       
    </form>

</div>

{% endblock %}