a{
color:black;
font-style: italic;
font-weight:bold;
font-size: large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-decoration: none;}

body{
   background-blend-mode: darken;/* Blend background color with image */
   background-position: top; /* Center the image */
    background-repeat: repeat;/* Do not repeat the image */
   background-size: auto;
   background-color: rgba(241, 238, 238, 0.703);
  /* Scale the image to fit the container */}



.home-header {
    width: 1600px;
    height:  10vh;                 /* full viewport height */
    background-image: url("/static/css/image/image.jpg");
    background-size:auto;        /* fills entire area */
    background-position:center;   /* centers image */
    background-repeat: repeat;
  margin: -30px -30px 50px;
border-radius: 30px;
border-style: groove;}


  .login-f {display: flex;
        justify-content: center;
      align-items: center;}

   .login-f form{width: 350px;
              background-color: white;
            padding: 12px;
          border-radius: 10px;
        border-style: groove;}

 

   .fieldrow{display: flex;
            align-items: center;
          margin-bottom: 10px;}

  .fieldrow label{width: 100px;
                  text-align: left;
                  font-weight: bold;
                  font-size: 16px;
                }
  .fieldrow input{flex: 1;
                  margin-right: 50px;}

  .summit-b{ display: flex;
  justify-content: center;}

.summit-b input{font-weight: bold;
background-color: rgb(28, 28, 167);
color: white;
padding: 5px;}



 .enrol-f {display: flex;
        justify-content: center;
      align-items: center;
      }


.enrol-f form{width: 350px;
              background-color: white;
            padding: 12px;
          border-radius: 10px;
        border-style: groove;}

.enrolfield{display: flex;
            align-items: center;
          margin-bottom: 35px;
        gap: 10px;}

.enrolfield label{width: 100px;
                  text-align: left;
                  font-weight: bold;
                  font-size: 16px;
                background-color: black;
              padding: 5px;
            border-radius: 8px;
          color: white;
        width: fit-content;
      }

.enrolfield input{flex: 1;
                  margin-right:10px;
                color: blue;
              font-weight: bold;
            font-style: italic;}

.form-sumit-b{display: flex;
justify-content: center;
}

.form-sumit-b input{font-weight: bold;
background-color: rgb(28, 28, 167);
color: white;
padding: 8px;
border-radius: 5px;}






.nav-links{margin-top: -40px;}

nav ul {
    list-style: none; /* Remove bullets */
    display: flex;
    gap:  15px;
    width: 100%; /* Arrange items horizontally */}
  
.list p{
    position: relative; /* Needed for dropdown positioning */
    margin: 0 15px; /* Spacing between items */
  font-weight: bolder;}
  
  
nav a:hover {
    color: rgb(9, 9, 183);}
  

.listdown {
    position: absolute;
    border: 1px solid #ccc; /* Add a border *//* Add some padding */ /* Remove bullets */
    z-index: 1000; /* Ensure it appears above other elements */ /* Set initial opacity for fade effect */
    box-shadow: 5px;
    display: none;
    border-radius: 5px;
    border-top: 50px;
    transition: opacity 0.3s ease, transform 0.3s ease, box-shadow 0.5s ease;}
  
 
 .listdown1 a {
    padding: 5px 15px; /* Add padding for dropdown items */
    display: block;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 350px;
    font-size: 14px;
    color:black;
    font-weight: bold;
    font-style: italic;
    }
  
  /* Show the dropdown when hovering over the parent <li> */
  nav li:hover .listdown {
    display: block;
    left: 0;}


.active{background-color: rgb(8, 155, 240);
        border-radius: 5px;
      padding: 10px;}





.flash-meg {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
      display: flex;}


.alert-success{
                border-radius: 10px;
            font-style: italic;
            color:rgba(98, 248, 98, 0.852);
            font-size: 15px; 
          width: fit-content;
        padding: 3px;
      background-color:rgb(44, 43, 43) ;}


.alert-info{
                border-radius: 10px;
              font-size: 15px;
              padding: 3px;
            font-style: italic;
            color: white;
          width: fit-content;
        background-color: rgb(44, 43, 43);}

.alert-danger{
                border-radius: 10px;
                color: rgb(241, 41, 41);
              font-size: 15px;
            font-style: italic;
          width: fit-content;
        padding: 3px;
      background-color: rgb(44, 43, 43);}

.alert-warning{
                border-radius: 10px;
                font-size: 15px;
            font-style: italic;
            width: fit-content;
            color: white;
            padding: 3px;
            background-color: rgb(44, 43, 43);
            }

  
.chart-container{display: flex;
                 gap: 50px;
                justify-content: center;
              background-color: rgb(128, 122, 122);
           border-radius: 15px;
        border-style: groove;
      }

.chart-box{
font-weight: bolder;
font-size: 18px;
text-align: justify;
align-items: center;}




.green{color: white;
       font-weight: bolder; 
      font-size: 22;
  padding: 5px;
  background-color: rgb(16, 125, 16);
width: fit-content;
border-radius: 5px;
border-style: groove;}

.red{color: white;
       font-weight: bolder; 
      font-size: 22;
  padding: 5px;
  background-color: rgb(149, 15, 15);
width: fit-content;
border-radius: 5px;
border-style: groove;}

.forgotpw {background-color: black;
            width: fit-content;
          padding: 3px;
        border-radius: 5px;}

.forgotpw a {font-size: 12px;
              font-weight: bold;
              font-style: italic;
              color: white;
              }

.forgotpw a:hover{color: rgb(30, 194, 30);}


 .resetpform{display: flex;
        justify-content: center;
      align-items:center;  
    flex-direction: column;
  gap: -30px;}

.resetpform form{width: 250px;
                display: flex;
                flex-direction: column;
            padding: 10px;
          border-radius: 5px;
        border-style: groove;}

.rp_fieldrow{margin-top: -10px;
}

.timerwords{font-weight: bold;
font-style: italic;
font-size: 16px;
background-color: white;
width: 300px;
}

.timer{color: rgb(160, 10, 10);
font-size: 22;}

.mask_age{
        font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;  
  margin-left:35px ;
background-color: black;
width: fit-content;
color: white;}


.forgotpform{display: flex;
        justify-content: center;
      align-items:center;
    flex-direction: column;
  gap: -30px;}

.forgotpform form{width: 350px;
                display: flex;
            padding: 10px;
          border-radius: 5px;
        border-style: groove;
      gap: 10px;}


.changepform{display: flex;
        justify-content: center;
      align-items:center;
    flex-direction: column;
  gap: -30px;}

.changepform form{width: 350px;
              padding: 10px;
          border-radius: 5px;
        border-style: groove;
      gap: 10px;}


.cp_fieldrow{display: flex;
            align-items: center;
          margin-bottom: 35px;}

.cp_fieldrow label{width: 100px;
                  text-align: left;
                  font-weight: bold;
                  font-size: 16px;
                margin-right: -15px;}

.cp_fieldrow input{flex: 1;}


.pr-summit input{font-weight: bold;
background-color: rgb(28, 28, 167);
color: white;
padding: 5px;
border-radius: 8px;}

.fpf{font-weight: bold;
                  font-style: italic;
                font-size: 16px;
              background-color: rgb(6, 4, 4);
            width: fit-content;
            padding: 8px;
          color: white;}

.rpf{font-weight: bold;
                  font-style: italic;
                font-size: 16px;
              background-color: rgb(26, 25, 25);
            width:max-content;
            padding: 8px;
          color: white;
        margin-left: -400px;}

.error-container{display: flex;
                justify-content: center;
                flex-direction: column;
          margin-top: -20px;}


.error-container h2{font-size: 25px;
font-weight: bolder;
font-size: 60px;
color: rgb(160, 4, 4);}


.error-container p{font-style: italic;
font-size: 16px;
margin-top: -50px;}

.e-home a{font-size:14px;
background-color: rgb(32, 32, 233);
width: max-content;
padding: 8px;
border-radius: 5px;
color: white}



.Success-container{display: flex;
                justify-content: center;
              flex-direction: column;
          margin-top: -50px;
        margin-left: 30px;}


.Success-container h2{font-size: 25px;
font-weight: bolder;
font-size: 60px;
color: rgba(5, 91, 5, 0.929);}


.Success-container p{font-style: italic;
font-size: 18px;
margin-top: -50px;}


.profile{text-align: end;
}


.profile span{font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 5px;
padding: 10px;
width: fit-content;
font-style: oblique;
background-color: black;
color: white;
}

.kpi{display: inline-flex;}

.hint{
font-size: 12px;
font-style: italic;
font-weight: bolder;}

.hint-state{
font-size: 15px;
font-style: italic;}

.metric {font-weight: bolder;}